@media (max-width: 450px)
{
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 6.5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .modal-dialog {
    max-width: 90vw;
    max-height: 90vh;
  }
  label {
    font-size: 1rem;
  }
}
@media (max-width: 1024px) {
  div.no-child-add::after,
  div.last-card-person::before {
    opacity: 1;
  }
}
@media (min-width: 451px) and (max-width: 768px) {
  * {
    font-size: 8.5px;
  }
}
@media (orientation: landscape) and (max-width: 1024px)
{
  * {
    font-size: 8.5px;
  }
  .modal-dialog {
    max-height: 90vh;
  }
}
